In [83]:
import pandas as pd

In [84]:
dataset_df = pd.read_csv('dataset capstone.csv')
dataset_df

,model,price,year,mileage,location,tax,seller_type
0,HONDA VARIO 125 CBS ISS,"Rp23,100,000",2024,"2,500 km",Padang Bulan,hidup,dealer
1,HONDA VARIO 125 CBS ISS,"Rp22,100,000",2022,"15,000 km",Padang Bulan,hidup,dealer
2,HONDA VARIO 150 ESP EXCLSV,"Rp15,750,000",2017,"30,000 km",Kota Jakarta Barat,hidup,dealer
3,HONDA VARIO 150 ESP EXCLSV,"Rp20,500,000",2020,"30,000 km",Kota Jakarta Barat,hidup,dealer
4,HONDA VARIO 125 ESP CBS,"Rp18,000,000",2018,"30,000 km",Kota Denpasar,hidup,dealer
...,...,...,...,...,...,...,...
2964,Honda Vario 125 cbs iss 2022 berkualitas&Berga...,Rp 21.000.000,2022,15.000-20.000 km,"Cibubur, Jakarta Timur, Jakarta D.K.I.",hidup,Diler
2965,VARIO 125 CBS ISS 2023 GARANSI MESIN 5000 KM,Rp 22.000.000,2023,5.000-10.000 km,"Ciputat, Tangerang Selatan Kota, Banten",hidup,Diler
2966,VARIO 125 CBS ISS 2023 GARANSI 5000 KM,Rp 22.000.000,2023,5.000-10.000 km,"Bumi Serpong Damai, Tangerang Selatan Kota, Ba...",hidup,Diler
2967,VARIO 125 ESP CBS ISS 2023 GARANSI 1 TAHUN,Rp 22.000.000,2023,5.000-10.000 km,"Cipondoh, Tangerang Kota, Banten",hidup,Diler
2968,VARIO 125 CBS ISS 2023 MULUS BERGARANSI 5000 KM,Rp 22.000.000,2023,5.000-10.000 km,"Cibodas, Tangerang Kota, Banten",hidup,Diler

Price

In [85]:
dataset_df['price'] = dataset_df['price'].apply(lambda x: x.replace('Rp','').replace('.','').replace(',',''))
dataset_df['price'] = pd.to_numeric(dataset_df['price'], errors='coerce')
dataset_df['price']

0       23100000
1       22100000
2       15750000
3       20500000
4       18000000
          ...
2964    21000000
2965    22000000
2966    22000000
2967    22000000
2968    22000000
Name: price, Length: 2969, dtype: int64

Miliage

In [86]:
dataset_df['mileage'] = dataset_df['mileage'].apply(lambda x: str(x).split('-')[-2].replace(' km', '').replace('.', '')
                                        if '-' in str(x) else str(x).replace(' km', '').replace('.', ''))

In [87]:
dataset_df['mileage'] = dataset_df['mileage'].apply(lambda x: str(x).replace(',',''))
dataset_df['mileage']

0        2500
1       15000
2       30000
3       30000
4       30000
        ...
2964    15000
2965     5000
2966     5000
2967     5000
2968     5000
Name: mileage, Length: 2969, dtype: object

In [88]:
dataset_df['mileage'] = pd.to_numeric(dataset_df['mileage'], errors='coerce')
dataset_df['mileage']

0        2500.0
1       15000.0
2       30000.0
3       30000.0
4       30000.0
         ...
2964    15000.0
2965     5000.0
2966     5000.0
2967     5000.0
2968     5000.0
Name: mileage, Length: 2969, dtype: float64

CLEANING DATA

In [89]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [90]:
dataset_df = pd.read_csv("dataset capstone.csv", encoding='latin-1')
dataset_df

,model,price,year,mileage,location,tax,seller_type
0,HONDA VARIO 125 CBS ISS,"Rp23,100,000",2024,"2,500 km",Padang Bulan,hidup,dealer
1,HONDA VARIO 125 CBS ISS,"Rp22,100,000",2022,"15,000 km",Padang Bulan,hidup,dealer
2,HONDA VARIO 150 ESP EXCLSV,"Rp15,750,000",2017,"30,000 km",Kota Jakarta Barat,hidup,dealer
3,HONDA VARIO 150 ESP EXCLSV,"Rp20,500,000",2020,"30,000 km",Kota Jakarta Barat,hidup,dealer
4,HONDA VARIO 125 ESP CBS,"Rp18,000,000",2018,"30,000 km",Kota Denpasar,hidup,dealer
...,...,...,...,...,...,...,...
2964,Honda Vario 125 cbs iss 2022 berkualitas&Berga...,Rp 21.000.000,2022,15.000-20.000 km,"Cibubur, Jakarta Timur, Jakarta D.K.I.",hidup,Diler
2965,VARIO 125 CBS ISS 2023 GARANSI MESIN 5000 KM,Rp 22.000.000,2023,5.000-10.000 km,"Ciputat, Tangerang Selatan Kota, Banten",hidup,Diler
2966,VARIO 125 CBS ISS 2023 GARANSI 5000 KM,Rp 22.000.000,2023,5.000-10.000 km,"Bumi Serpong Damai, Tangerang Selatan Kota, Ba...",hidup,Diler
2967,VARIO 125 ESP CBS ISS 2023 GARANSI 1 TAHUN,Rp 22.000.000,2023,5.000-10.000 km,"Cipondoh, Tangerang Kota, Banten",hidup,Diler
2968,VARIO 125 CBS ISS 2023 MULUS BERGARANSI 5000 KM,Rp 22.000.000,2023,5.000-10.000 km,"Cibodas, Tangerang Kota, Banten",hidup,Diler

In [91]:
dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2969 entries, 0 to 2968
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   model        2969 non-null   object
 1   price        2969 non-null   object
 2   year         2969 non-null   int64
 3   mileage      2969 non-null   object
 4   location     2955 non-null   object
 5   tax          2969 non-null   object
 6   seller_type  2969 non-null   object
dtypes: int64(1), object(6)
memory usage: 162.5+ KB

Terdapat sedikit perbedaan pada jumlah data pada kolom milieage dan location, hal ini menunjukkan adanya missing values pada 2 kolom tersebut

In [92]:
dataset_df.isna().sum()

model           0
price           0
year            0
mileage         0
location       14
tax             0
seller_type     0
dtype: int64

terdapat 15 Missing Value pada kolom location dan 1 Missing Value pada kolom mileage

Menangani duplikasi data

In [93]:
dataset_df.drop_duplicates(inplace=True)

In [94]:
print("Jumlah duplikasi: ",dataset_df.duplicated().sum())

Jumlah duplikasi:  0

In [95]:
data_cleaning= dataset_df
data_cleaning

,model,price,year,mileage,location,tax,seller_type
0,HONDA VARIO 125 CBS ISS,"Rp23,100,000",2024,"2,500 km",Padang Bulan,hidup,dealer
1,HONDA VARIO 125 CBS ISS,"Rp22,100,000",2022,"15,000 km",Padang Bulan,hidup,dealer
2,HONDA VARIO 150 ESP EXCLSV,"Rp15,750,000",2017,"30,000 km",Kota Jakarta Barat,hidup,dealer
3,HONDA VARIO 150 ESP EXCLSV,"Rp20,500,000",2020,"30,000 km",Kota Jakarta Barat,hidup,dealer
4,HONDA VARIO 125 ESP CBS,"Rp18,000,000",2018,"30,000 km",Kota Denpasar,hidup,dealer
...,...,...,...,...,...,...,...
2964,Honda Vario 125 cbs iss 2022 berkualitas&Berga...,Rp 21.000.000,2022,15.000-20.000 km,"Cibubur, Jakarta Timur, Jakarta D.K.I.",hidup,Diler
2965,VARIO 125 CBS ISS 2023 GARANSI MESIN 5000 KM,Rp 22.000.000,2023,5.000-10.000 km,"Ciputat, Tangerang Selatan Kota, Banten",hidup,Diler
2966,VARIO 125 CBS ISS 2023 GARANSI 5000 KM,Rp 22.000.000,2023,5.000-10.000 km,"Bumi Serpong Damai, Tangerang Selatan Kota, Ba...",hidup,Diler
2967,VARIO 125 ESP CBS ISS 2023 GARANSI 1 TAHUN,Rp 22.000.000,2023,5.000-10.000 km,"Cipondoh, Tangerang Kota, Banten",hidup,Diler
2968,VARIO 125 CBS ISS 2023 MULUS BERGARANSI 5000 KM,Rp 22.000.000,2023,5.000-10.000 km,"Cibodas, Tangerang Kota, Banten",hidup,Diler

Menangani Missing Value

In [96]:
data_cleaning.location.value_counts()

location
Kab. Bandung                              122
Kota Depok                                119
Kota Jakarta Timur                        113
Kota Tangerang Selatan                     95
Kota Denpasar                              95
                                         ...
Ngaglik, Sleman Kab., Yogyakarta D.I.       1
Tambora, Jakarta Barat, Jakarta D.K.I.      1
Jatiasih, Bekasi Kota, Jawa Barat           1
Bekasi Timur, Bekasi Kota, Jawa Barat       1
Cipondoh, Tangerang Kota, Banten            1
Name: count, Length: 154, dtype: int64

In [98]:
data_cleaning.location.fillna(value="Kab.Bandung", inplace=True)

In [99]:
data_cleaning.mileage.value_counts()

mileage
30,000 km            610
15,000 km            499
7,500 km             247
2,500 km              98
500 km                28
15.000-20.000 km      22
5.000-10.000 km       22
0-5.000 km            12
10.000-15.000 km      10
20.000-25.000 km       7
30.000-35.000 km       6
45.000-50.000 km       4
55.000-60.000 km       4
35.000-40.000 km       2
60.000-65.000 km       2
35,000 km              2
85.000-90.000 km       2
none                   2
80.000-85.000 km       2
3,000 km               1
1,000 km               1
95.000-100.000 km      1
40.000-45.000 km       1
50.000-55.000 km       1
75.000-80.000 km       1
Name: count, dtype: int64

In [100]:
data_cleaning.isna().sum()

model          0
price          0
year           0
mileage        0
location       0
tax            0
seller_type    0
dtype: int64

In [101]:
data_cleaning.to_csv('dataset setelah cleaning.csv', index=False)